<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="Textbox" value="TextboxConfigurator"/>
      <add key="Combobox" value="ComboboxConfigurator"/>
      <add key="LookupCombobox" value="LookupComboboxConfigurator"/>
      <add key="Radiobuttons" value="RadiobuttonsConfigurator"/>
      <add key="LookupRadiobuttons" value="LookupRadiobuttonsConfigurator"/>
      <add key="Checkboxes" value="CheckboxesConfigurator"/>
      <add key="LookupCheckboxes" value="LookupCheckboxesConfigurator"/>
      <add key="Image" value="ImageConfigurator"/>
      <add key="File" value="FileConfigurator"/>
      <add key="Numericbox" value="NumericboxConfigurator"/>
      <add key="Textarea" value="TextareaConfigurator"/>
      <add key="HtmlEditor" value="HtmlEditorConfigurator"/>
      <add key="Date" value="DateConfigurator"/>
      <add key="DateRange" value="DateRangeConfigurator"/>
    </appSettings>
</configuration>