<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Com.Wiseape.UtilityApp.CodeGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Textbox" value="TextboxConfigurator"/>
    <add key="Combobox" value="ComboboxConfigurator"/>
    <add key="LookupCombobox" value="LookupComboboxConfigurator"/>
    <add key="Radiobuttons" value="RadiobuttonsConfigurator"/>
    <add key="LookupRadiobuttons" value="LookupRadiobuttonsConfigurator"/>
    <add key="Checkboxes" value="CheckboxesConfigurator"/>
    <add key="LookupCheckboxes" value="LookupCheckboxesConfigurator"/>
    <add key="Image" value="ImageConfigurator"/>
    <add key="File" value="FileConfigurator"/>
    <add key="Numericbox" value="NumericboxConfigurator"/>
    <add key="Textarea" value="TextareaConfigurator"/>
    <add key="HtmlEditor" value="HtmlEditorConfigurator"/>
    <add key="Date" value="DateConfigurator"/>
    <add key="DateRange" value="DateRangeConfigurator"/>
    
  </appSettings>
  <userSettings>
    <Com.Wiseape.UtilityApp.CodeGenerator.Properties.Settings>
      <setting name="TEXTBOX" serializeAs="String">
        <value>TEXTBOX</value>
      </setting>
      <setting name="TEXTAREA" serializeAs="String">
        <value>TEXTAREA</value>
      </setting>
      <setting name="SELECTBOX" serializeAs="String">
        <value>SELECTBOX</value>
      </setting>
      <setting name="RADIOGROUP" serializeAs="String">
        <value>RADIOGROUP</value>
      </setting>
      <setting name="DATETIME" serializeAs="String">
        <value>DATETIME</value>
      </setting>
      <setting name="TABPAGES" serializeAs="String">
        <value>TABPAGES</value>
      </setting>
      <setting name="GRID" serializeAs="String">
        <value>GRID</value>
      </setting>
      <setting name="CHECKBOXGROUP" serializeAs="String">
        <value>CHECKBOXGROUP</value>
      </setting>
      <setting name="FILEUPLOAD" serializeAs="String">
        <value>FILEUPLOAD</value>
      </setting>
    </Com.Wiseape.UtilityApp.CodeGenerator.Properties.Settings>
  </userSettings>
</configuration>